/****************************************************
* HEADER
****************************************************/

.header{
  height: 10%;
  width: 100%;
  background: $black;
  &__wrapper{
    height: 100%;
    @include u--wrapper(60%);
  }
  &__nav{
    height: 100%;
    @include u--flex(row,space-between,center);
    .header__logo{
      height: 70%;
    }
    .header__inputbox{
      outline: none;
      opacity: 0.8;
      transition: opacity 0.3s linear;
      border-radius: 3px;
      padding: 3px;
      font-size: 16px;
      color: $blue;
      &:hover{
        opacity: 1;
      }
    }
  }
}
