/****************************************************
* MAIN
****************************************************/

.main{
  background: $blue;
  height: 90%;
  width: 100%;
  overflow-y: auto;
  padding-top: 50px;
  &__wrapper{
    @include u--wrapper(60%);
    @include u--flex;
    flex-wrap: wrap;
    @import 'card.scss';
  }
}
